.container {
	width: 100%;
}

.navigation {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.menu {
	margin-top: var(--spacing-lg);
	display: flex;
	gap: var(--gap-lg);
	list-style: none;
	align-items: center;
}

.menuItem {
	border-bottom: var(--border-white);
	opacity: 0.3;
	font-weight: bold;
	font-size: var(--text-size);
}

.menuItem:hover {
	transition: opacity 0.35s ease;
	opacity: 1;
}

.menuItemActive {
	opacity: 1;
}

@media (min-width: 767px) {
	.navigation {
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	.menu {
		margin-top: 0;
	}
}