.container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  padding: var(--padding-lg);
  margin-top: var(--spacing-lg);
}

.header {}

.name {
  text-align: center;
  font-weight: bold;
  font-size: calc(var(--text-size) * 1.25);
}

.description {
  margin-top: var(--spacing-sm);
  text-align: center;
  margin-top: var(--spacing-lg);
  font-weight: 300;
  font-size: calc(var(--text-size) * 1.25);
}

.linksContainer {
  margin-top: calc(var(--spacing-lg) * 2);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-sm);
  width: 100%;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkText {
  flex: 1;
  display: block;
  text-align: center;
}