.brandContainer {
  display: flex;
  margin-top: calc(var(--spacing-lg) * 6);
  gap: var(--spacing-lg);
}

.brandTextContainer {
  display: flex;
  align-items: center;
  flex-flow: column;
  flex: 2;
}

.brandTitle {
  font-size: var(--text-size-title);
  line-height: calc(var(--text-size-title) * 1.25);
  text-align: center;
}

.specialist {
  position: relative;
}

.specialist::after {
  position: absolute;
  content: '';
  height: 1.5rem;
  width: 100%;
  z-index: -1;
  background-color: var(--primary);
  left: 0.25rem;
  bottom: 0.5rem;
}

.brandSubtitle {
  text-align: center;
  margin-top: var(--spacing-lg);
  font-weight: 300;
  font-size: calc(var(--text-size) * 1.25);
}

.appointmentButton {
  margin-top: var(--spacing-lg);
  width: 15rem;
}

.brandImagesContainer {
  flex: 1;
}

.mosaic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: var(--spacing-sm);
  margin-top: calc(var(--spacing-lg) * -4);
}

.mosaicImageContainer {
  width: 100%;
  height: 18rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.mosaicImage {
  width: 100%;
  height: 100%;
}



@media(min-width: 768px) {
  .brandTextContainer {
    display: block;
    flex: 1;
  }

  .brandTitle {
    text-align: initial;
    line-height: 4rem;
  }

  .brandSubtitle {
    text-align: initial;
  }
}